@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


  *{
    font-family: "Roboto", serif;
  }

.padding {
    padding-bottom:2rem;
}

.fa-code{
    color:#e54d26;
}

.fa-css3{
    color:#563d7c;
}

.fa-code, .fa-css3 {
    font-size: 4rem;
}